# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.env
!.env.example
docker-data/
docker-logs/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local environment config files
.env

# Ignore editor-specific files
.vscode/
.idea/

# MacOS system files
.DS_Store

# Linux system files
*.swp

# Windows system files
Thumbs.db
